VITE_MAGICBLOCK_KILL_TX=
VITE_MAGICBLOCK_ROUTER_URL=https://devnet.magicblock.app/
VITE_MAGICBLOCK_SIGNER_SECRET_KEY=

# Local deploy settings
ANCHOR_WALLET=C:/path/to/your/deploy-keypair.json
SOLANA_CLUSTER=devnet
DEPLOY_PUBKEY=
